html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: Georgia, serif;
}

/* top 1/3rd */
.navbar {
    /* for debugging */
    /* border: 2px solid black; */
    padding: 0.75em;
    background-color: #333;
    overflow: hidden;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/* 
.menuIcon {
    justify-self: start;
    -webkit-appearance: none;
    border-radius: 5px;
}
.menuIcon > div{
    width: 1.5em;
    height: 0.125em;
    background-color: black;
    margin: 0.3em 0;
    border-radius: 0;
}
*/
.navbar a {
    color: #f2f2f2;
    font-size: large;
    text-decoration: none;
    /* justify-self: start; */
    /* justify-content: center; */
    /* align-self: center; */
}

.score {
    justify-self: start;
}

.newGameButton {
    justify-self: end;
    /* margin-right: 10%; */
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 1rem;
    border-radius: 5px;
}

.messages {
    border: 1rem;
    border-radius: 5px;
    background-color: rgba(67, 67, 67, 0.85);
    color: white;
    z-index: 1;
    display: inline-grid;
    position: absolute;
    max-width: fit-content;
    left: 0;
    right: 0;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.messages button {
    /* width:10%; */
    /* display: inline-grid; */
    /* position: absolute; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.modal li {
    list-style: none;
    margin-bottom: inherit;
    margin-right: 10px;
}

/* bottom 2/3rds */
.game {
    /* centers game*/
    text-align: center;
}

/* .board-container {
    for debugging
    border: 2px solid red;
}
.board {
    for debugging
    border: 2px dashed red;
} */
/* board row and tiles */
.row {
    display: flex;
}

.tile {
    align-items: center;
    border: thin solid black;
    display: flex;
    justify-content: center;
    color: black;
    /* ****To do later: these 4 should be adjustable depending on size *****/
    margin: 3px;
    font-size: 32px;
    min-height: 62px;
    min-width: 62px;
}

.keyboard-container {
    /* for debugging */
    /* border: 2px solid black; */
    height: 100%;
}

/* .keyboard {
    for debugging
    border: 2px dashed black;
} */
.keyboardButton {
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 1rem;
    border-radius: 5px;
    margin: 0.15vw;
    width: 2em;
    height: 2em;
    padding: 0px;
}

.board,
.keyboard {
    display: inline-block;
}

/* phones */
@media screen and (max-width: 349px) {
    .keyboard {
        width: 100%;
    }

    .keyboardButton {
        font-size: small;
        height: 4em;
        width: 2em;
    }

    .specialKey {
        font-size: small;
        height: 4.3em;
        width: 3em;
    }

    .tile {
        margin: 3px;
        font-size: 32px;
        min-height: 1.25em;
        min-width: 1.25em;
    }

    .newGameButton {
        margin-right: 15%;
    }
}

@media screen and (min-width: 350px) and (max-width: 385px) {
    .game {
        padding-top: 2%;
    }

    .keyboard-container {
        padding-top: 2%;
    }

    .keyboard {
        width: 100%;
    }

    .keyboardButton {
        font-size: medium;
        height: 4em;
        width: 2em;
    }

    .specialKey {
        font-size: medium;
        height: 4em;
        width: 3.5em;
    }

    .tile {
        margin: 3px;
        font-size: 32px;
        min-height: 1.5em;
        min-width: 1.5em;
    }

    .navbar a {
        justify-self: start;
    }

    .newGameButton {
        margin-right: 15%;
    }
}

@media screen and (min-width: 386px) and (max-width: 649px) {
    .game {
        padding-top: 2%;
    }

    .keyboard-container {
        padding-top: 2%;
    }

    .keyboard {
        width: 100%;
    }

    .keyboardButton {
        font-size: large;
        height: 4em;
    }

    .specialKey {
        height: 4em;
        width: 3.4em;
    }

    .tile {
        margin: 3px;
        font-size: 32px;
        min-height: 1.7em;
        min-width: 1.7em;
    }

    .newGameButton {
        margin-right: 20%;
    }
}

/* tablets */
@media screen and (min-width: 650px) {
    .keyboardButton {
        font-size: large;
        width: 2.5em;
        height: 3.5em;
    }

    .specialKey {
        width: 4.5em;
    }

    .tile {
        margin: 3px;
        font-size: 32px;
        min-height: 2em;
        min-width: 2em;
    }

    .newGameButton {
        margin-right: 20%;
    }
}

/* desktops  */
@media screen and (min-width: 851px) {
    .keyboardButton {
        font-size: medium;
        margin: 0.25vw;
        width: 4em;
    }

    .specialKey {
        width: 5.5em;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #FFF;
        color: #333;
    }

    .navbar {
        background-color: lightgray;
    }

    .navbar a {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121213;
        color: white;
    }

    .tile {
        color: white;
        border-color: #3a3a3c;
    }

    .keyboardButton {
        background: #818384;
        color: white;
    }

    /* #3a3a3c for used/incorrect keyboard letter and board tile */

    /* #818384 for default tile background  */
}