/* top 1/3rd */
.navbar {
    /* for debugging */
    /* border: 2px solid black; */
    padding: 0.75em;
    background-color: #333;
    overflow: hidden;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/* 
.menuIcon {
    justify-self: start;
    -webkit-appearance: none;
    border-radius: 5px;
}
.menuIcon > div{
    width: 1.5em;
    height: 0.125em;
    background-color: black;
    margin: 0.3em 0;
    border-radius: 0;
}
*/
.navbar a {
    color: #f2f2f2;
    font-size: large;
    text-decoration: none;
    /* justify-self: start; */
    /* justify-content: center; */
    /* align-self: center; */
}

.newGameButton {
    justify-self: end;
    /* margin-right: 10%; */
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 1rem;
    border-radius: 5px;
}
